table {
	margin: 0 0 30px;
	width: 100%;
	border-collapse: collapse;

	a {
		border: 0 !important;
	}
}
th {
	background-color: #f7f7f7;
	padding: 15px;
	border: 1px solid #ebebeb;
}
td {
	padding: 15px;
	border: 1px solid #ebebeb;
}